*.o
*.lo
*.la
*.exe
*.pc
*.userprefs
*.usertasks
*.pidb
.auto
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h.in
config.h
config.log
config.status
configure
libtool
stamp-*
*-stamp
INSTALL
caca-config
