Source: libcaca
Section: libs
Priority: optional
Maintainer: Sam Hocevar (Debian packages) <sam+deb@zoy.org>
Build-Depends: debhelper (>= 4.0), libncurses5-dev, slang1-dev, xlibs-dev, libimlib2-dev, doxygen, tetex-bin, tetex-extra
Standards-Version: 3.6.1.0

Package: libcaca-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, libncurses5-dev, slang1-dev, xlibs-dev
Description: development files for libcaca
 libcaca is the Colour AsCii Art library. It provides high level functions
 for colour text drawing, simple primitives for line, polygon and ellipse
 drawing, as well as powerful image to text conversion routines.
 .
 This package contains the header files and static libraries needed to
 compile applications or shared objects that use libcaca.

Package: caca-utils
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: libcaca-dev (<= 0.3-1)
Replaces: libcaca-dev (<= 0.3-1)
Description: text mode graphics utilities
 This package contains utilities and demonstration programs for libcaca, the
 Colour AsCii Art library.
 .
 cacaview is a simple image viewer for the terminal. It opens most image
 formats such as JPEG, PNG, GIF etc. and renders them on the terminal using
 ASCII art. The user can zoom and scroll the image, set the dithering method
 or enable anti-aliasing.
 .
 cacaball is a tiny graphic program that renders animated ASCII metaballs on
 the screen, cacafire is a port of AALib's aafire and displays burning ASCII
 art flames, cacademo is a simple application that shows the libcaca rendering
 features such as line and ellipses drawing, triangle filling and sprite
 blitting, and caca-spritedit is a simple sprite viewer for libcaca.
