Source: libcaca
Section: games
Priority: optional
Maintainer: Sam Hocevar (Debian packages) <sam+deb@zoy.org>
Build-Depends: debhelper (>= 2.2.0), slang1-dev
Standards-Version: 3.6.1.0

Package: libcaca
Section: games
Architecture: any
Depends: ${shlibs:Depends}
Description: text mode graphics library
 libcaca is the Color ANSI Console Art library.
 .
 It rules.
