#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

# FOR AUTOCONF 2.52 AND NEWER ONLY
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

confflags += --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
confflags += --enable-ncurses --enable-slang --enable-x11 --enable-imlib2

configure: configure-stamp
configure-stamp:
	dh_testdir
	./configure $(confflags) --prefix=/usr
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) distclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -plibcaca-dev
	dh_installdirs usr/bin usr/share/doc/caca-utils usr/share/man/man1 -pcaca-utils

	DESTDIR=`pwd`/debian/libcaca-dev/ $(MAKE) install prefix=/usr

	mv debian/libcaca-dev/usr/bin/cacaball debian/caca-utils/usr/bin
	mv debian/libcaca-dev/usr/bin/cacademo debian/caca-utils/usr/bin
	mv debian/libcaca-dev/usr/bin/cacaview debian/caca-utils/usr/bin
	mv debian/libcaca-dev/usr/bin/cacafire debian/caca-utils/usr/bin

	mv debian/libcaca-dev/usr/share/libcaca debian/caca-utils/usr/share
	mv debian/libcaca-dev/usr/share/man/man1/cacaball.1 \
	   debian/caca-utils/usr/share/man/man1/
	mv debian/libcaca-dev/usr/share/man/man1/cacademo.1 \
	   debian/caca-utils/usr/share/man/man1/
	mv debian/libcaca-dev/usr/share/man/man1/cacafire.1 \
	   debian/caca-utils/usr/share/man/man1/
	mv debian/libcaca-dev/usr/share/man/man1/cacaview.1 \
	   debian/caca-utils/usr/share/man/man1/

	cp debian/libcaca-dev/usr/share/doc/libcaca-dev/README \
	   debian/libcaca-dev/usr/share/doc/libcaca-dev/BUGS \
	   debian/libcaca-dev/usr/share/doc/libcaca-dev/TODO \
	   debian/libcaca-dev/usr/share/doc/libcaca-dev/AUTHORS \
	   debian/libcaca-dev/usr/share/doc/libcaca-dev/NEWS \
	   debian/libcaca-dev/usr/share/doc/libcaca-dev/NOTES \
	   debian/caca-utils/usr/share/doc/caca-utils/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
	dh_installmenu
#	dh_installemacsen
#	dh_installpam
#	dh_installinit
	dh_installcron
#	dh_installmanpages
	dh_installinfo
	dh_installmime
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
